.ProseMirror {
  position: relative;
  text-align: left;

  @media (max-width: 768px) {
    margin-left: 40px;
  }
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

/* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
.ProseMirror [draggable][contenteditable="false"] {
  user-select: text;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  margin-right: 3px;
  display: inline-block;
}

.ProseMirror-menuseparator {
  border-right: 1px solid #ddd;
  margin-right: 3px;
}

.ProseMirror-menu-dropdown,
.ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: 1px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 4px;
  display: inline-block;
  position: relative;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: 0.3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  max-width: 90%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  
  min-height: 1em;
  color: #666;
  padding: 6px 6px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
  right: 0;
  border-bottom: 1px solid silver;
  background: #fafafa;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;

  @media (max-width: 768px) {
    display: none;
   }
}

.ProseMirror-icon {
  display: inline-block;
  line-height: 0.8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}
/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror-example-setup-style hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror-example-setup-style img {
  cursor: default;
}

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "��";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}
#editor,
.editor {
  background-image: url('/src/image/note_paper\(8\).svg');
  background-size: 83% 260%;
  background-repeat: no-repeat; 
  background-position: 16vw -7vw; 
  background-attachment: fixed;
  border-radius: 4px;
  padding: 5px 0;
  margin-bottom: 23px;

  @media (max-width: 768px) {
    background: white;
    color: black;
    background-clip: padding-box;
    background-position: 0px 0px;
  }
}

.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 10px;
}

.ProseMirror {
  padding: 4px 8px 4px 14px;
  line-height: 1.2;
  outline: none;
}

.ProseMirror p {
  margin-bottom: 1em;
}

/* 아래부터는 직접 추가한 css 설정 */
/*  문단(텍스트) 블록 단위_알록달록 */
.placeholder::before {
  content: attr(data-placeholder);
  color: #7a4dff; /* 기본 텍스트 색상을 보라색 계열로 설정 */
  pointer-events: none;
  cursor: text;
  position: absolute;

  /* 배경에 선형 그라데이션 추가 */
  background: linear-gradient(45deg, #ff69b4, #8a2be2, #4b0082, #00ff7f);
  -webkit-background-clip: text;
  color: transparent;
}

.custom-paragraph:hover {
  border-bottom: 2px dashed #ff6161c6;
}

.hoverDiv {
  position: absolute;
  width: auto; /* 요소들을 포함할 수 있도록 너비를 auto로 조정 */
  height: 25px; /* 높이는 필요에 따라 조정 */
  display: flex; /* flexbox 레이아웃을 사용 */
  justify-content: center;
  align-items: center; /* 내부 요소들을 세로 방향으로 가운데 정렬 */
  visibility: hidden; /* 초기에는 숨김 처리 */
  padding: 3px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (max-width: 768px) {
    padding: 1px;
  }
}

.hoverButton_plus, .hoverButton_lock{
  cursor: pointer;
  width: 18px;
  height: 20px;
  margin: 4px;
  padding-top: 1px;

  @media (max-width: 768px) {
    width: 14px;
    height: 16px;
  }
}

.hoverButton_plus:hover {
  animation: verticalBeat 1s ease-in-out infinite;
}

.hoverButton_lock:hover {
animation: spin 2s ease-in-out infinite;
}

.hoverButton_like,
.hoverButton_like_fullRedHeart {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin: 0px 4px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.hoverButton_imageZoom {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 19px;
  margin: 0px 4px;
  color: #fca050;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.hoverButton_like {
  fill: gray;
  color: gray;
}

.hoverButton_like_fullRedHeart {
  fill: red;
  color: red;
}

.hoverButton_like:hover,
.hoverButton_like_fullRedHeart:hover,
.hoverButton_imageZoom:hover {
  animation: heartbeat 1s infinite;
}


@keyframes heartbeat {
  0% {
    transform: scale(1.0);
  }
  15% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(0.9); 
  }
  60% {
    transform: scale(1.05); 
  }
  75% {
    transform: scale(0.95);
  }
  90% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.0);
  }
}
@keyframes verticalBeat {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* this is a rough fix for the first cursor position when the first paragraph is empty */
.ProseMirror > .ProseMirror-yjs-cursor:first-child {
  margin-top: 16px;
}
.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 16px;
}

/* This gives the remote user caret. The colors are automatically overwritten*/
.ProseMirror-yjs-cursor {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-color: orange;
  word-break: normal;
  pointer-events: none;
}
/* This renders the username above the caret */
.ProseMirror-yjs-cursor > div {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 13px;
  background-color: rgb(250, 129, 0);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
}

@keyframes pulse_red {
  0%, 100% {
    font-size: 1em;
    font-weight: bolder;
    color: red;
  }
  50% {
    font-size: 1.1em;
    color: red;
  }
}
@keyframes pulse_orange {
  0%, 100% {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 123, 0);
  }
  50% {
    font-size: 1.1em;
    color: rgb(255, 123, 0);
  }
}
.pulsate_red {
  animation: pulse_red 0.4s infinite;
}
.pulsate_orange {
  animation: pulse_orange 0.5s infinite;
}

/* ID가 locked-node인 p 태그에 대한 스타일 */
p#locked {
  border: 1px solid #1E90FF;
  background-color: #D6EAF8;
  border-radius: 8px;
  padding: 1px 7px;
  background-image: url('../../../image/lock2.gif');
  background-size: 0.8em;
  background-position: center;
  background-repeat: no-repeat;
}

p#locked:hover {
  background-image: none;
}

